/* .custom-sidebar {
  padding: 10px;
}

.add-component-container input {
  width: 100%;
  margin: 10px;
}

.add-component-container div {
  margin-top: 10px;
} */

.header{
  background-color: rgb(4, 123, 213);
  color: rgb(255,225,53);
  margin: 1%;
  border-radius: 5px;
}

#logo {
  padding: 0px 5px;
  font-size: large;
  font-family: 'Ubuntu', sans-serif;
}

.menu {
  padding-right: 20px;
}

a {
  text-decoration: none;
}
