
.header{
  background-color: rgb(4, 123, 213);
  color: rgb(255,225,53);
  border-radius: 5px;
  width: 98%;
  margin: 1%;
}

#logo {
  padding: 0px 5px;
  font-size: large;
  font-family: 'Ubuntu', sans-serif;
}

.menu {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(255,225,53);
}

a:hover {
  color: rgb(255, 184, 66);
}

.col-md-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 100%;
}


