
.header{
  background-color: rgb(4, 123, 213);
  color: rgb(255,225,53);
  border-radius: 5px;
  width: 98%;
  margin: 1%;
}

#logo {
  padding: 0px 5px;
  font-size: large;
  font-family: 'Ubuntu', sans-serif;
}

.menu {
  padding-right: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 184, 66);
}
