<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
</head>

<body>
  <!-- <div fxLayout="column" fxFlexFill>
    <app-header></app-header> // your header
    <div fxFlex>
        <router-outlet></router-outlet> // your content
    </div>
     // your footer
  </div> -->
  <div class="holder" fxLayout="column" fxFlexFill>
    <div>
    <mat-toolbar class="header">

      <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <a href="{{listItems[0].link}}">
            <button mat-button >
              <mat-icon>home</mat-icon>
              <span id="logo">FlipCart</span>
            </button>
          </a>
          <div *ngIf="!deviceXs" class="buttons">
            <a mat-button href="{{listItems[1].link}}">Products</a>
            <a mat-button href="{{listItems[2].link}}">About</a>
            <a mat-button href="{{listItems[3].link}}">Login</a>
          </div>
        </div>
        <div class="menu buttons">
          <a href="{{listItems[4].link}}">
            <button mat-icon-button >
              <mat-icon>shopping_cart</mat-icon>
              <span *ngIf="!deviceXs">Cart</span>
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-around center" class="buttons">
        <a mat-button href="{{listItems[1].link}}">Products</a>
        <a mat-button href="{{listItems[2].link}}">About</a>
        <a mat-button href="{{listItems[3].link}}">Login</a>
      </mat-toolbar-row>
    </mat-toolbar>
    </div>

    <div class="col-md-10" id="body" fxFlex>
      <router-outlet></router-outlet>
    </div>

    <div id="footer">
      <section id="lab_social_icon_footer">
        <div class="container">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/himandagdi"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/himandagdi"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://www.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:dagdih12@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
            <span id="span">
              Made with <i class="fa fa-heart pulse"></i> using <a href="https://angular.io/docs" target="_blank">Angular</a>
          </span>
        </div>
        </section>
    </div>
  </div>
</body>
