.img-fluid {
  max-width: 25%;
}

.carousel-caption {
  position: inherit;
  color: #333;
  text-align: left;
  left: 5%;
}

.carousel-item {
  background-size: 500px ;

  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5908/food.png);
}

/* body {
    background: #efefef;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #B6B6B6;
    background-size: 500px ;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5908/food.png);
  } */
