<div [ngClass]="deviceXs ? 'mobile': 'pc'">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form action="" [formGroup]="myLoginForm">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  required
                  name="email"
                  ngModel
                >
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <span *ngIf="isValid('email')">Entered email is invalid</span>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  formControlName="password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                >
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <span *ngIf="isValid('password')">Password requires atleast 6 char</span>

              <mat-checkbox>Remember Me!</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                (click) = "login()">
                <svg-icon src="../../assets/email.svg" [svgStyle]="{ 'width.px':24, 'height.px':24  }"></svg-icon>
                Sign In
              </button>

              <button
                mat-raised-button
                class="login-button">
                <svg-icon src="../../assets/Google.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                Login with Google
              </button>


            {{deviceXs}}
            {{loginSuccessMessage}}

            </form>
          </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card-content>
          <form action="" [formGroup]="myForm" >
            <mat-form-field>
              <input
                matInput
                placeholder="First Name"
                formControlName="first"
                required
                name="first"
                ngModel
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <span *ngIf="isValid('first')">Can't be Null</span>

            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                formControlName="last"
                required
                name="last"
                ngModel
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <span *ngIf="isValid('last')">Can't be Null</span>

            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                required
                name="email"
                ngModel
              >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <span *ngIf="isValid('email')">Entered email is invalid</span>

            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
              >
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <span *ngIf="isValid('password')">Password requires atleast 6 char</span>

            <mat-form-field>
                <input
                  matInput
                  placeholder="Confirm Password"
                  formControlName="cnfpass"
                  type="password"
                  required
                  minlength="6"
                  name="cnfpass"
                  ngModel
                >
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <span *ngIf="isValid('cnfpass')">Password and confirm password should match</span>

            <button
              mat-raised-button
              color="primary"
              class="login-button"
              (click) = "register()">
              <svg-icon src="../../assets/email.svg" [svgStyle]="{ 'width.px':24, 'height.px':24  }"></svg-icon>
              Sign Up
            </button>

            {{deviceXs}}
            {{successMessage}}
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>
