<div class="container-fluid">
  <div class="col-12">
    <ngb-carousel *ngIf="!deviceXs" class="pc-carousel" >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Order Food</h3>
          <p>Fresh Fruits and Vegetables !</p>
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Summer Clothing Sale</h3>
          <p>Check it out...</p>
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner3.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>New Launches Available </h3>
          <p>Conquer !!!</p>
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner4.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Super Sale</h3>
          <p>HURRY.</p>
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
    </ngb-carousel>

    <ngb-carousel *ngIf="deviceXs" class="mobile-carousel" >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner3.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner4.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner1.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/banner2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
        </div>
      </ng-template>
    </ngb-carousel>

    <div *ngIf="deviceXs" class="mobile">
    <div style="width:100%;height:0;padding-bottom:54%;position:relative;">
      <iframe src="https://giphy.com/embed/Ejn6xH5mnmtMI" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    </div>

  </div>
</div>
