<mat-toolbar class="header">
  <mat-toolbar-row fxLayoutAlign="space-around center">
      <button mat-button (click)="catFunc(0)">
        <svg-icon src="../../assets/flame.svg" [svgStyle]="{ 'width.px':24, 'height.px':24  }"></svg-icon>
        <span id="logo">Hot</span>
      </button>
      <button mat-button (click)="catFunc(1)">
        <svg-icon src="../../assets/book.svg" [svgStyle]="{ 'width.px':26, 'height.px':26  }"></svg-icon>
        <span id="logo">Books</span>
      </button>
      <button mat-button (click)="catFunc(2)">
        <svg-icon src="../../assets/shoes.svg" [svgStyle]="{ 'width.px':38, 'height.px':38  }"></svg-icon>
        <span id="logo">Shoes</span>
      </button>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="space-around center">
    <button mat-button (click)="catFunc(3)">
      <svg-icon src="../../assets/desktop.svg" [svgStyle]="{ 'width.px':25, 'height.px':25  }"></svg-icon>
      <span id="logo">Computers & Accessorries</span>
    </button>
    <button mat-button (click)="catFunc(4)">
      <svg-icon src="../../assets/grocery.svg" [svgStyle]="{ 'width.px':27, 'height.px':27  }"></svg-icon>
      <span id="logo">Grocery</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container row">
  <div class="col-md-2">
    <h1>{{ title }}</h1>
  </div>
  <div class="col-md-10 custom-products-cart-container">
    <div class="offset-md-8">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyicon glyphicon-shopping-cart">
              Products Added In Cart:
            </span>
            <span class="caret">{{ cartProducts.length }}</span>
          </a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
            <li *ngFor="let item of cartProducts">
              <div class="item product-cart-item row">
                <div class="col-md-8" *ngIf="item">{{item.title}}</div>
                <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
              </div>
            </li>
            <hr>
            <li><a class="btn btn-primary btn-block" role="button" (click)="goToCart()">View Cart</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="container" *ngIf = " category == 0 ">
  <div class="row">
      <div class="col-md-4 col-centered" *ngFor="let product of products;let i=index">
        <div class="card card-block">
          <img [src]="product.img" alt="" class="custom-image-style">
          <div class="product-desc-container row">
            <div class="container">
              <p><strong>{{product.title}}</strong></p>
              <p><strong>Rs {{product.price}}</strong></p>
              <p>{{product.description}}</p>
            </div>
            <div class="offset-md-4 col-md-4">
              <button class="btn btn-primary btn-sm" (click)="addToCart(i)" [disabled]="product.isAdded===true">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container" *ngIf = " category == 1 ">
  Books<hr>
  <div class="row">
    <div class="col-md-4 col-centered" *ngFor="let product of books;let i=index">
      <div class="card card-block">
        <img [src]="product.image" alt="" class="custom-image-style">
        <div class="product-desc-container row">
          <div class="container">
            <p><strong>{{product.name}}</strong></p>
            <p><strong>Rs {{product.price}}</strong></p>
            <p>{{product.author}}</p>
            <p>{{product.rating}}</p>
          </div>
          <div class="offset-md-4 col-md-4">
            <button class="btn btn-primary btn-sm">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf = " category == 2 ">
  Shoes<hr>
  <div class="row">
    <div class="col-md-4 col-centered" *ngFor="let product of shoesData;let i=index">
      <div class="card card-block">
        <img [src]="product.image" alt="" class="custom-image-style">
        <div class="product-desc-container row">
          <div class="container">
            <p><strong>{{product.name}}</strong></p>
            <p><strong>Rs {{product.price}}</strong></p>
            <p>{{product.brand}}</p>
            <p>{{product.rating}}</p>
          </div>
          <div class="offset-md-4 col-md-4">
            <button class="btn btn-primary btn-sm">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf = " category == 3 ">
  Computers <hr>
  <div class="row">
    <div class="col-md-4 col-centered" *ngFor="let product of compData;let i=index">
      <div class="card card-block">
        <img [src]="product.image" alt="" class="custom-image-style">
        <div class="product-desc-container row">
          <div class="container">
            <p><strong>{{product.name}}</strong></p>
            <p><strong>Rs {{product.price}}</strong></p>
            <p>{{product.rating}}</p>
          </div>
          <div class="offset-md-4 col-md-4">
            <button class="btn btn-primary btn-sm">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf = " category == 4 ">
  Grocery<hr>
  <div class="row">
    <div class="col-md-4 col-centered" *ngFor="let product of groceryData;let i=index">
      <div class="card card-block">
        <img [src]="product.image" alt="" class="custom-image-style">
        <div class="product-desc-container row">
          <div class="container">
            <p><strong>{{product.name}}</strong></p>
            <p><strong>Rs {{product.price}}</strong></p>
            <p>{{product.qty}}</p>
          </div>
          <div class="offset-md-4 col-md-4">
            <button class="btn btn-primary btn-sm">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
