.img-fluid {
  max-width: 25%;
}

.carousel-caption {
  position: inherit;
  color: #333;
  text-align: left;
  left: 5%;
}

.carousel-item {
  background-size: 500px ;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5908/food.png);
}
