.custom-image-style {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin: 0 auto;
}

.product-desc-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-products-cart-container {
  padding-top: 20px;
}

.custom-products-cart-container ul ul {
  width: 75%;
  padding: 5%;
}

.product-cart-item {
  display: flex;
}

.product-cart-item-left {
  display: flex;
}

.card {
  margin-bottom: .75rem;
}

.card-block {
  padding: 1.25rem;
}
/*
img {
  width: 150px;
  height: 150px;
}
*/
.header span {
  padding: 0px 5px;
  font-size: medium;
  font-family: 'Ubuntu', sans-serif;
}

